# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# macOS
.DS_Store
**/.DS_Store

# environments
.venv/
venv/
env/

# logs
*.log

# HPC
slurm-*.out
slurm-*.err

# neuroimaging data
*.nii
*.nii.gz
*.img
*.hdr
*.mgz

# large outputs
outputs/
results/
derivatives/
